/* Bon comme vous pouvez le constater mon front est très poussé *tousse* */
body {
    background-image: url("https://i.ytimg.com/vi/7Uk3S2Qti4g/maxresdefault.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}